section {
  width: 100%;
  height: 100vh;
  padding: 2rem;
}

h1 {
  text-align: center;
}

.box {
  margin: 5rem auto;
  width: 200px;
  aspect-ratio: 1;
  border-radius: 15px;
  background-color: palevioletred;
  box-shadow: 15px 15px 15px black;
}
