i{
    padding: 4px 4px;
    border-radius: 2px;
    
}

i:hover{
    color: white;
    background-color: black;
}


.form-switch{
    padding: 3px 45px;
}

.form-switch:hover{
    background-color: rgb(227, 216, 216);
    border-radius: 5px;
}